{% load staticfiles %}
<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title>Личный кабинет администратора</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">

    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block css %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/admin_area/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/admin_area/slick/slick.css'%}" rel="stylesheet'">
    {% endblock %}

</head>
<body class="page-main">

    <header>
        <div class="header-in">
            <a href="/" class="logo"><img width="72px" height="59px" src="{% static 'images/logo.png' %}" alt="pic"></a>
            <span class="name">Личный кабинет администратора</span>
{#            <div class="skype-search">#}
{#                <a class="skype" href="skype:name">#}
{#                    Связь с<br> администратором#}
{#                </a>#}
{#                <form class="search" action="#" method="post">#}
{#                    <input type="text" name="" placeholder="Поиск">#}
{#                    <button></button>#}
{#                </form>#}
{#            </div>#}
        </div>
        <div class="header-in-r"></div>
    </header>

    <div class="middle-page">
        <div class="middle-page-in" style="display: flex;">

            <aside class="aside-l">
                <div class="return-wrap">
                    <div class="return1">
                        <a href="" onclick="window.history.go(-1); return false;">Вернуться на одну страницу</a>
                    </div>
                    <div class="return2">
                        <a href="{% url 'admin:logout' %}">
                            Выйти из личного кабинета
                        </a>
                    </div>
                </div>

                <div class="menu-mob">
                    меню

                    <div class="icon">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>

                <nav class="nav-l">
                    <ul>



<li class="child selected">
	<a href="/admin-area/">ГЛАВНАЯ</a>

</li>

<li class="child sibling">
	<a href="{% url 'admin-contact-list' %}">ОБРАЩЕНИЯ К АДМИНИСТРАТОРУ/РУКОВОДСТВУ КОМПАНИИ</a>
</li>

<li class="child sibling">
	<a href="{% url 'admin-contact-expert-list' %}">ОБРАЩЕНИЯ К ЭКСПЕРТАМ</a>
</li>


{#<li class="child sibling">#}
{#	<a href="/poluchit-konsultaciyu-u-specialistov-ekspertov/">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ У СПЕЦИАЛИСТОВ / ЭКСПЕРТОВ</a>#}
{##}
{#</li>#}
{##}
{#<li class="child sibling">#}
{#	<a href="/moj-balans-istoriya-platezhej-za-polzovanie-veb-servisami/">МОЙ БАЛАНС / ИСТОРИЯ ПЛАТЕЖЕЙ ЗА ПОЛЬЗОВАНИЕ ВЕБ-СЕРВИСАМИ</a>#}
{##}
{#</li>#}
{##}
{#<li class="child sibling">#}
{#	<a href="/uchetnaya-zapis-abonenta-nastrojki-lichnogo-kabineta/">УЧЕТНАЯ ЗАПИСЬ АБОНЕНТА  / НАСТРОЙКИ ЛИЧНОГО КАБИНЕТА</a>#}
{##}
{#</li>#}
{##}
{#<li class="child sibling">#}
{#	<a href="/lichnaya-pochta/">ЛИЧНАЯ ПОЧТА (почтовый сервер ЕСТЗ для внутренней переписки с заказчиками и исполнителями)</a>#}
{##}
{#</li>#}
{##}
{#<li class="child sibling">#}
{#	<a href="/moi-zakazy-istoriya-zakazov/">МОИ ЗАКАЗЫ (ИСТОРИЯ ЗАКАЗОВ)</a>#}
{##}
{#</li>#}
{##}
{#<li class="child sibling">#}
{#	<a href="/kontakt-centr/">КОНТАКТ-ЦЕНТР</a>#}
{##}
{#</li>#}
{##}
{#<li class="child sibling">#}
{#	<a href="/novosti-informacionnaya-rassylka/">НОВОСТИ / ИНФОРМАЦИОННАЯ РАССЫЛКА</a>#}
{##}
{#</li>#}
{##}
{#<li class="child sibling">#}
{#	<a href="/sluzhba-dostavki-dokumentov-kurerami-i-gruzoperevozki/">СЛУЖБА ДОСТАВКИ ДОКУМЕНТОВ КУРЬЕРАМИ  И ГРУЗОПЕРЕВОЗКИ</a>#}
{##}
{#</li>#}
{##}
{#<li class="child sibling">#}
{#	<a href="/bezotzyvnaya-publichnaya-oferta-pravila-polzovaniya-sajtom-i-veb/">БЕЗОТЗЫВНАЯ ПУБЛИЧНАЯ ОФЕРТА / правила пользования сайтом и веб-сервисами</a>#}
{##}
{#</li>#}
{##}
{#<li class="child sibling">#}
{#	<a href="/napravit-obrashenie-rukovoditelyu/">НАПРАВИТЬ ОБРАЩЕНИЕ РУКОВОДИТЕЛЮ ООО «ЕСТЗ» / АДМИНИСТРАТОРУ САЙТА</a>#}
{##}
{#</li>#}
{##}
{#<li class="child sibling">#}
{#	<a href="/chernyj-spisok-kompanij-individualnyh-predprinimatelej/">ЧЕРНЫЙ СПИСОК КОМПАНИЙ, ИНДИВИДУАЛЬНЫХ ПРЕДПРИНИМАТЕЛЕЙ, РУКОВОДИТЕЛЕЙ КОМПАНИЙ И ФИЗИЧЕСКИХ ЛИЦ</a>#}
{##}
{#</li>#}
{##}
{#<li class="child sibling">#}
{#	<a href="/proverit-yuridicheskoe-lico-svoego-partnyora-kontragenta/">ПРОВЕРИТЬ ЮРИДИЧЕСКОЕ ЛИЦО (СВОЕГО ПАРТНЁРА, КОНТРАГЕНТА)</a>#}
{##}
{#</li>#}
{##}
{#<li class="child sibling">#}
{#	<a href="/informaciya-o-kompanii-ooo-estz/">ИНФОРМАЦИЯ: О КОМПАНИИ ООО «ЕСТЗ», администраторе портала «Он-лайн», веб-сервисных услуг), ознакомиться с сотрудниками ООО «ЕСТЗ», структурой компании</a>#}
{##}
{#</li>#}
{##}
{#<li class="child sibling">#}
{#	<a href="/goryachie-predlozheniya-ot-kompanij/">«ГОРЯЧИЕ» ПРЕДЛОЖЕНИЯ ОТ КОМПАНИЙ (Скидки, распродажа инструмента, оборудования, средств малой механизации, строительной техники, транспорта)</a>#}
{##}
{#</li>#}
{##}
                    </ul>
                </nav>

            </aside>
            <div class="content-page" style="border-left: 1px solid #E5E5EA;">
                
                {% block content %}
                
                {% endblock %}

{#                <div class="user-data-mob">#}
{#                    информация#}
{##}
{#                    <div class="icon">#}
{#                        <div></div>#}
{#                        <div></div>#}
{#                        <div></div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="user-data-wrap">#}
{#                    <div class="user-data">#}
{#                    <div class="user">#}
{#                        <table>#}
{#                            <tr>#}
{#                                <td rowspan="4">#}
{#                                    <img class="user-pic" src="{% static 'images/user-pic.png' %}" alt="pic">#}
{#                                </td>#}
{#                                <td class="black">#}
{#                                    Пользователь#}
{#                                </td>#}
{#                                <td class="name max">#}
{#                                    Петрошнобильсон Вольдемар#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td class="black">#}
{#                                    Представитель компании#}
{#                                </td>#}
{#                                <td class="company max">#}
{#                                    ООО “СтройТоргИнвест-девелопмент”#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td colspan="2" class="black">#}
{#                                    Статус пользователя#}
{#                                    <span class="id nobr bold">№ ID: 87</span>#}
{#                                    <span class="status nobr bold">Заказчик</span>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td colspan="2">#}
{#                                    <a href="#" class="settings black bold">Настройка личного кабинета</a>#}
{#                                </td>#}
{#                            </tr>#}
{#                        </table>#}
{#                    </div>#}
{##}
{#                    <!--#}
{#                    Добавление класса active - создает анимацию#}
{#                    -->#}
{##}
{#                    <div class="message active">#}
{#                        <table>#}
{#                            <tr>#}
{#                                <td colspan="2">#}
{#                                    <div class="title bold">Личная почта</div>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>#}
{#                                    Входящих:#}
{#                                </td>#}
{#                                <td class="max bold">#}
{#                                    100#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>#}
{#                                    Непрочитанных:#}
{#                                </td>#}
{#                                <td class="max bold">#}
{#                                    34#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td colspan="2" class="new-tender-wrap">#}
{#                                    <a href="#" class="new-tender">Новый тендер/ознакомиться и принять решение об участии в тендере</a>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td colspan="2">#}
{#                                    <a href="#" class="my-request">Мои заказы и статус заказов (история)</a>#}
{#                                </td>#}
{#                            </tr>#}
{#                        </table>#}
{#                    </div>#}
{#                    <div class="balans">#}
{#                        <table>#}
{#                            <tr>#}
{#                                <td>#}
{#                                    <div class="title bold">Баланс</div>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td class="paid">#}
{#                                    Оплачено до <br>#}
{#                                    <span class="bold">01.10.2017 г.</span>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>#}
{#                                    <a href="#" class="history">Посмотреть историю платежей</a>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>#}
{#                                    <img src="{% static 'images/payment.png' %}" alt="pic">#}
{#                                </td>#}
{#                            </tr>#}
{#                        </table>#}
{#                    </div>#}
{#                </div>#}
{#                </div>#}
{##}
{#                <div class="name-page" style="height: auto;">#}
{#                     ВЕБ-СЕРВИСЫ<span class="desc">Выберите нужный сервис</span>#}
{#                </div>#}
{##}
{#                <div class="web-service-content">#}
{##}
{#	<a href="#">#}
{#        ОРГАНИЗОВАТЬ ТЕНДЕР: ВЫБРАТЬ/ЗАКАЗАТЬ УСЛУГУ И ИСПОЛНИТЕЛЯ#}
{#        <span class="small">#}
{#            (из базы надежных и ответственных исполнителей)#}
{#        </span>#}
{#    </a>#}
{#    <a href="#">#}
{#        ОРГАНИЗОВАТЬ ТЕНДЕР: ВЫБРАТЬ ПОДРЯДЧИКА НА ВЫПОЛНЕНИЕ РАБОТ#}
{#        <span class="small">#}
{#            (из базы надежных и достойных подрядчиков)#}
{#        </span>#}
{#    </a>#}
{#    <a href="#">#}
{#        ВЫБРАТЬ ПОСТАВЩИКА И ЗАКЛЮЧИТЬ ДОГОВОР#}
{#        <span class="small">#}
{#            (поставка материалов на объект /#}
{#            приобрести материалы и/или#}
{#            оборудование, из базы надежных#}
{#            поставщиков)#}
{#        </span>#}
{#    </a>#}
{#    <a href="#">#}
{#        ПОДОБРАТЬ СТРОИТЕЛЬНУЮ БРИГАДУ И ЗАКЛЮЧИТЬ#}
{#        ДОГОВОР НА ВЫПОЛНЕНИЕ СТРОИТЕЛЬНО-МОНТАЖНЫХ РАБОТ#}
{#        <span class="small">#}
{#            (монолитные и отделочные работы)#}
{#        </span>#}
{#    </a>#}
{#    <a href="#">#}
{#        ОЗНАКОМИТЬСЯ И ПОЛУЧИТЬ «ДОРОЖНУЮ КАРТУ»#}
{#        ПО ПОЛУЧЕНИЮ ИРД И НЕОБХОДИМЫХ СОГЛАСОВАНИЙ ДЛЯ РЕАЛИЗАЦИИ ПРОЕКТА#}
{#        <span class="small">#}
{#            (в настоящее время дорожные#}
{#            карты составлены только по#}
{#            регионам Москва и Московская#}
{#            область)#}
{#        </span>#}
{#    </a>#}
{#    <a href="#">#}
{#        ДОКУМЕНТЫ ПО ОРГАНИЗАЦИИ СТРОИТЕЛЬСТВА ОБЪЕКТОВ<br>#}
{#        <span class="small">#}
{#            (Приказы, Извещения, Письма, Акты передачи площадок, Уведомления и предписания об устранении недостатков и замечаний по выполненным работам, Проекты производства работ, Формирование исполнительной документации, Строительный контроль, Схемы операционного контроля качества строительных, ремонтно-строительных и монтажных работ и пр.)#}
{#        </span>#}
{#    </a>#}
{#    <a href="#">#}
{#        ПОДБОР КАДРОВ#}
{#        <span class="small">#}
{#            «Middle management» для приема#}
{#            на постоянное место работы в#}
{#            компанию (поиск начальников#}
{#            участков, прорабов, ИТР,#}
{#            геодезистов, инженеров ПТО,#}
{#            инженеров строительного#}
{#            контроля (технического надзора),#}
{#            службы технического заказчика,#}
{#            специалистов отдела снабжения,#}
{#            сметчиков и пр.) – поиск по#}
{#            собственной базе кандидатов.#}
{#        </span>#}
{#    </a>#}
{#    <a href="#">#}
{#        НАЙТИ СПЕЦИАЛИСТОВ И ПРОФЕССИОНАЛОВ#}
{#        (физ.лиц)  В СФЕРЕ ТЕХНИЧЕСКОГО ЗАКАЗЧИКА ДЛЯ#}
{#        НАЙМА ПО КРАТКОСРОЧНОМУ ДОГОВОРУ#}
{#        <span class="small">#}
{#            для решения срочных задач по сбору и получению ИРД, Технических условий, Договоров технологического присоединения,#}
{#            согласованию проектной и рабочей документации, сдаче исполнительной документации в...#}
{#        </span>#}
{#    </a>#}
{#    <a href="#">#}
{#        ПОВЫШЕНИЕ КВАЛИФИКАЦИИ ПЕРСОНАЛА /#}
{#        СЕРТИФИКАЦИЯ РУКОВОДИТЕЛЕЙ (ПРОЕКТОВ И#}
{#        МЕНЕДЖЕРОВ ВЫСШЕГО ЗВЕНА) УДОСТОВЕРЕНИЯ /#}
{#        СТРАХОВАНИЕ ГРАЖДАНСКОЙ ОТВЕТСТВЕННОСТИ И РИСКОВ#}
{#        <span class="small">#}
{#            (в том числе для генподряда)#}
{#        </span>#}
{#    </a>#}
{#    <a href="#">#}
{#        КУПИТЬ ЖУРНАЛЫ: АВТОРСКОГО НАДЗОРА, ОБЩИЙ ЖУРНАЛ РАБОТ,#}
{#        УХОДА ЗА БЕТОНОМ, СВАРОЧНЫХ РАБОТ, ОХРАНЕ ТРУДА, ИНСТРУКТАЖА и пр.#}
{#    </a>#}
{#    <a href="#">#}
{#        ПОЛИГРАФИЧЕСКИЕ УСЛУГИ#}
{#        <span class="small">#}
{#            (Срочная цифровая полноцветная#}
{#            печать. Все форматы и объемы.#}
{#            Информационные: стенды,#}
{#            вывески, плакаты, заказать печати#}
{#            и штампы)#}
{#        </span>#}
{#    </a>#}
{#    <a href="#">#}
{#        ОБРАТИТЬСЯ ЗА ПОМОЩЬЮ К СПЕЦИАЛИСТУ «ЕСТЗ»#}
{#        <span class="small">#}
{#            (выбрать «куратора проекта/специалиста по согласованиям/ инженера строительного контроля/специалиста по взаимодействию с Госстройнадзором или АТИ» из состава команды ИТР ООО «ЕСТЗ» по краткосрочному трудовому соглашению)#}
{#        </span>#}
{#    </a>#}
{#    <a href="#">#}
{#        ПОЛУЧИТЬ ЭЛЕКТРОННУЮ ЦИФРОВУЮ ПОДПИСЬ#}
{#        <span class="small">#}
{#            (для юр.лица или для физ.лица,#}
{#            усиленную, квалифицированную#}
{#            или простую, для разных целей)#}
{#        </span>#}
{#    </a>#}
{#    <a href="#">#}
{#        ПОЛУЧИТЬ КРЕДИТНУЮ КАРТУ «Тинькофф Банк»#}
{#        <span class="small">#}
{#            (для физ. лиц)#}
{#        </span>#}
{#    </a>#}
{#    <a href="#">#}
{#        ОТКРЫТЬ КРЕДИТНУЮ ЛИНИЮ В БАНКЕ#}
{#        <span class="small">#}
{#            (для юр. лиц)#}
{#        </span>#}
{#    </a>#}
{#    <a href="#">#}
{#        РАЗМЕСТИТЬ МОЁ РЕЗЮМЕ В БАЗЕ КВАЛИФИЦИРОВАННЫХ КАДРОВ ПОРТАЛА «ЕСТЗ»#}
{#    </a>#}
{##}
{#                </div>#}


            </div>
        </div>
    </div>

{#    <div class="slider1">#}
{#        <a class="item" href="#">#}
{#            <img src="{% static 'images/slider/slide.png' %}" alt="pic"/>#}
{#        </a>#}
{#        <a class="item" href="#">#}
{#            <img src="{% static 'images/slider/slide.png' %}" alt="pic"/>#}
{#        </a>#}
{#        <a class="item" href="#">#}
{#            <img src="{% static 'images/slider/slide.png' %}" alt="pic"/>#}
{#        </a>#}
{#        <a class="item" href="#">#}
{#            <img src="{% static 'images/slider/slide.png' %}" alt="pic"/>#}
{#        </a>#}
{#        <a class="item" href="#">#}
{#            <img src="{% static 'images/slider/slide.png' %}" alt="pic"/>#}
{#        </a>#}
{#        <a class="item" href="#">#}
{#            <img src="{% static 'images/slider/slide.png' %}" alt="pic"/>#}
{#        </a>#}
{#        <a class="item" href="#">#}
{#            <img src="{% static 'images/slider/slide.png' %}" alt="pic"/>#}
{#        </a>#}
{#        <a class="item" href="#">#}
{#            <img src="{% static 'images/slider/slide.png' %}" alt="pic"/>#}
{#        </a>#}
{#    </div>#}

<hr style="margin-top: 0 !important;"/>
</body>
{% block js %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/myscript.js' %}"></script>
{#    <script src="{% static 'js/prefixfree.min.js' %}"></script>#}

    <script src="{% static 'slick/slick.min.js' %}"></script>

    <script>
        $(document).ready(function(){
            $(".slider1").slick({
                dots: false,
                infinite: true,
                speed: 300,
                slidesToShow: 3,
                centerMode: true,
                variableWidth: true
            });
        });
    </script>
{% endblock %}


</html>