{% extends 'admin_area/base.html' %}
{% load crispy_forms_tags %}
{% load model_name %}
{% load contact_admin %}

{% block content %}
<div style="padding: 1rem;">
    <table class="table">
    {% for field, value in fields %}
      <tr>
        {% if field == "expertresponse" %}
        {% else %}
            <td style="width: 25%">{% field_name model field %}</td> <td>{% convert_fields_value_nice_display model field value %}</td>
      {% endif %}
      </tr>
    {% endfor %}
    </table>
    <hr />
    <div><b>Статус обращения:</b> {% get_expert_status_list object.id object.status.title %}{% csrf_token %}</div>
    {% if object.status_id == 1 %}
    <h4>Отправить эксперту:</h4>
    <form method="post" action="{% url 'admin-contact-expert-send-expert' question_id %}">{% csrf_token %}
        <select name="experts" multiple class="form-control">
        {% for expert in experts %}
            <option value="{{ expert.id }}">{{ expert.name }} / {{ expert.email }}</option>
        {% endfor %}
        </select>
        <br/>
        <input class="btn btn-primary" type="submit" value="Отправить эксперту">
    </form>
    {% endif %}
    {# expert responses #}
    {% if object.status_id != 1 %}
        <h4>Ответы экспертов:</h4>
        <hr>
        {% for expertresponse in object.expertresponse.all %}
            {% if expertresponse.response_date %}
                <div><b>Ответ от эксперта "{{ expertresponse.expert.name }}"</b></div>
                <br />
                <div>Дата: {{ expertresponse.response_date }} / Тема: {{ expertresponse.subject }}</div>
                <br />
                <div>Текст ответа: {{ expertresponse.text }}</div>
{#                {% if expertresponse.file %}<div><a href="{{ expertresponse.file.url }}">{{ expertresponse.file }}</a></div>{% endif %}#}
                {% if expertresponse.file %}
                    <div>Вложение: <a href="{{ expertresponse.file.url }}" target="_blank">Открыть</a> / <a href="{{ expertresponse.file.url }}" download>Скачать</a></div>
                {% endif %}
                <hr>
            {% else %}
                <div><b>Эксперт "{{ expertresponse.expert.name }}" еще не ответил...</b></div>
                <hr>
            {% endif %}
        {% endfor %}
    {% endif %}
    <br />
    <h4>Ответить заявителю:</h4>
    <form enctype="multipart/form-data" method="post">{% csrf_token %}
        {{ contact_response_form|crispy }}
        <input class="btn btn-primary" type="submit" value="Отправить ответ">
    </form>
</div>
{% endblock %}
