{% extends 'admin_area/base.html' %}
{% load crispy_forms_tags %}
{% load model_name %}
{% load contact_admin %}

{% block content %}
<div style="padding: 1rem;">
    <table class="table">
    {% for field, value in fields %}
      <tr>
{#        {% if field == "status" %}#}
{#            <td style="width: 25%"></td>#}
{#        {% else %}#}
            <td style="width: 25%">{% field_name model field %}</td> <td>{% convert_fields_value_nice_display model field value %}</td>
{#      {% endif %}#}
      </tr>
    {% endfor %}
    </table>
    <hr />
    <h4>Ответить заявителю:</h4>
<div><b>Статус обращения:</b> {% get_status_list object.id object.status.title %}{% csrf_token %}</div>
<br />
<form enctype="multipart/form-data"  method="post">{% csrf_token %}
    {{ contact_response_form|crispy }}
    <input class="btn btn-primary" type="submit" value="Отправить ответ">
</form>
</div>
{% endblock %}
